.dp-label {
    font-weight: bold;
    color: white; 
}

.dp-dimensions-label
{
    font-weight: bold;
    color: white; 
}

/* The Modal (background) */
.dp-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.dp-modal-content {
  background-color: #2e3842;
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.dp-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.dp-close:hover,
.dp-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}