.dp-label {
    font-weight: bold;
    color: lightsalmon; // TO_DO: change to a more suitable color
}

.dp-dimensions-label
{
    font-weight: bold;
    color: lightsalmon; // TO_DO: change to a more suitable color
}
