				<!-- Contact Form -->
                <form id="contactForm" method="post" action="https://eo3xqozda3ra2kr.m.pipedream.net/contactform"
					style="width:100%;">
					<div class="row uniform">
						<div class="6u 12u$(xsmall)">
							<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name*" required
								aria-label="Name" autocomplete="given-name" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email*" required
								aria-label="Email" autocomplete="email" />
						</div>
						<div class="12u$">
							<div class="select-wrapper">
								<select name="demo-category" id="demo-category" aria-label="Sector">
									<option value="">- Sector -</option>
									<option class="select-option" value="MAN">Manufacturing</option>
									<option value="LOG">Logistics</option>
									<option value="SVC">Services</option>
									<option value="BAN">Bank/Financial</option>
									<option value="OTH">Other</option>
								</select>
							</div>
						</div>
						<div class="12u$">
							<div class="select-wrapper">
								<select name="demo-function" id="demo-function" aria-label="Role">
									<option value="">- Role -</option>
									<option value="CXO">C-Level</option>
									<option value="DIR">Director</option>
									<option value="MAN">Manager</option>
									<option value="CON">Consultant</option>
									<option value="STU">Student</option>
									<option value="OTH">Other</option>
								</select>
							</div>
						</div>
						<div class="12u$">
							<div class="select-wrapper">
								<select name="demo-request" id="demo-request" aria-label="Request Type">
									<option value="">- Request -</option>
									<option value="ASS">Assessment</option>
									<option value="PAR">Partnership</option>
									<option value="HIR">Hire Us</option>
									<option value="INC">Intro call</option>
									<option value="OTH">Other</option>
								</select>
							</div>
						</div>
						<div class="6u 12u$(small)">
							<input type="checkbox" id="demo-copy" name="demo-copy" checked aria-label="Email me a copy">
							<label for="demo-copy">Email me a copy</label>
						</div>
						<div class="6u$ 12u$(small)">
							<input type="checkbox" id="demo-human" name="demo-human" aria-label="Not a robot">
							<label for="demo-human">Not a robot</label>
						</div>
						<div class="12u$">
							<textarea name="demo-message" id="demo-message" placeholder="Enter your request*" rows="6"
								required aria-label="Message"></textarea>
						</div>
						<div class="12u$">
							<ul class="actions vertical">
								<li><input id="submitButton" type="submit" value="Send Message" class="fit special"
										formnovalidate aria-label="Send Message" /></li>
								<li><input type="reset" value="Reset" class="fit" aria-label="Reset form" /></li>
							</ul>
						</div>
					</div>
				</form>
