<!-- Header -->
<div id="header"{% if page.layout == 'landing' %} class="alt"{% endif %} role="header">
  <h1><a href="/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle" aria-hidden="true" tabindex="-1"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="/" aria-label="Home">Home</a></li>
            {% assign page_list =  site.pages | where_exp: "file", "file.name != '404.md'" %}
            {% for my_page in page_list %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}"  aria-label="{{my_page.subtitle}}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" aria-label="RSS feed"
                   class="icon fa-feed"> RSS Feed</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
